<div class="page page--background">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__title">Confirmation of email</h1>

		<p class="page__subtitle">An account verification code has been sent to your email. Enter it here</p>

		<div class="form">
			<div class="form__item">
				{{> field action="signupConfirmForm.change" label="Code" type="number" placeholder="Your code"
				name="code"}}
				<span name="code" class="form__error">Mistake</span>

			</div>
		</div>

		<span class="link__prefix">Lost the code?
			<a href="/signup-confirm" class="link" id="renew">Send it again</a>
		</span>

		<button onclick="signupConfirmForm.submit()" class="button button--disabled" type="button">Confirm</button>

		<span class="alert alert--disabled">Mistake</span>



		{{#with data}}
		{{#if confirm}}
		<div>{{confirm}}</div>
		{{/if}}
		{{/with}}

</div>