<div class="page page--background">
	<div class="page__section">
		<div class="title-container">
			<h1 class="home-page__title">Welcome to the user’s home page</h1>
		</div>



		<div class="image__place">
		</div>


		<div class="button-section">
			<button onclick="home.update()" class="button button--green" type="button">Check personal data</button>
			<button onclick="home.logout()" class="button button--red" type="button">Log Out</button>
			<span class="alert alert--disabled"></span>
		</div>

	</div>
</div>