<div class="page page--background">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__title">Log in</h1>

		<div class="form">
			<div class="form__item">
				{{> field action="signupForm.change" label="Email" type="email" placeholder="Your e-mail"
				name="email"}}
				<span name="email" class="form__error">Mistake</span>

			</div>

			<div class="form__item">
				{{> field-password action="signupForm.change" placeholder="Your password" label="Password"
				type="password" name="password" }}
				<span name="password" class="form__error">Mistake</span>
			</div>

		</div>

		<button onclick="signupForm.submit()" class="button button--disabled" type="button">Log in</button>

		<span class="alert alert--disabled">Mistake</span>

		<span class="link__prefix">Forgot password? <a href="/recovery" class="link">Recovery</a></span>
	</form>

</div>