<div class="page page--background">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__title">Password recovery</h1>

		<div class="form">
			<div class="form__item">
				{{> field action="recoveryForm.change" label="Email" type="email" placeholder="Your e-mail"
				name="email"}}
				<span name="email" class="form__error">Mistake</span>

			</div>
		</div>

		<button onclick="recoveryForm.submit()" class="button button--disabled" type="button">Recover your
			password</button>

		<span class="alert alert--disabled">Mistake</span>
	</form>

</div>