<div class="page page--background">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__title">Password recovery</h1>

		<p class="page__subtitle">An account verification code has been sent to your email. Enter it here</p>

		<div class="form">
			<div class="form__item">
				{{> field action="recoveryConfirmForm.change" label="Code" type="number" placeholder="Your code"
				name="code"}}
				<span name="code" class="form__error">Mistake</span>

			</div>

			<div class="form__item">
				{{> field-password action="recoveryConfirmForm.change" placeholder="Your new password" label="New
				password"
				type="password" name="password" }}
				<span name="password" class="form__error">Mistake</span>
			</div>

			<div class="form__item">
				{{> field-password action="recoveryConfirmForm.change" placeholder="Your new password" label="New
				password again"
				type="password" name="passwordAgain" }}
				<span name="passwordAgain" class="form__error">Mistake</span>
			</div>
		</div>

		<span class="link__prefix">Lost your code?
			<a href="/recovery-confirm" class="link" id="renew">Send it again</a>
		</span>

		<button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button">Change
			password</button>

		<span class="alert alert--disabled">Mistake</span>

		{{#with data}}
		{{#if confirm}}
		<div>{{confirm}}</div>
		{{/if}}
		{{/with}}
	</form>
</div>